:root {
    --color-bg: var(--figma-color-bg);
    --color-bg-hover: var(--figma-color-bg-hover);
    --color-bg-active: var(--figma-color-bg-pressed);
    --color-border: var(--figma-color-border);
    --color-border-focus: var(--figma-color-border-selected);
    --color-icon: var(--figma-color-icon);
    --color-text: var(--figma-color-text);
    --color-bg-brand: var(--figma-color-bg-brand);
    --color-bg-brand-hover: var(--figma-color-bg-brand-hover);
    --color-bg-brand-active: var(--figma-color-bg-brand-pressed);
    --color-border-brand: var(--figma-color-border-brand);
    --color-border-brand-focus: var(--figma-color-border-selected-strong);
    --color-text-brand: var(--figma-color-text-onbrand);
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');
  
  html,
  body,
  main {
    height: 100%;
    font-family: 'Poppins', sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    opacity: 1;
  }

  ul {
    width: 90%;
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    flex-direction: column;
  }

  .tweet {
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    color:#7D7D7D;
  }

  .alert {
    position: sticky;
    bottom: 8;
    background-color: red;
    opacity: 0.7;
    border-radius: 6px;
    margin: 0 20px;
    padding: 0 10px;
  }

  .alert > p {
    font-size: 12px;
    color: white;
  }

  a {
    text-decoration: none;
    color: #29B0D6;
  }

  li {
    cursor: pointer;
  }
  
  body,
  input,
  button {
    font-family: -apple-system, BlinkMacSystemFont, "Poppins", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    text-align: center;
  }
  
  body {
    background: var(--color-bg);
    color: var(--color-text);
    margin: 0;
  }
  
  button {
    border-radius: 0.25rem;
    background: var(--color-bg);
    color: var(--color-text);
    cursor: pointer;
    border: 1px solid var(--color-border);
    padding: 0.5rem 1rem;
  }
  button:hover {
    background-color: var(--color-bg-hover);
  }
  button:active {
    background-color: var(--color-bg-active);
  }
  button:focus-visible {
    border: none;
    outline-color: var(--color-border-focus);
  }
  button.brand {
    --color-bg: var(--color-bg-brand);
    --color-text: var(--color-text-brand);
    --color-bg-hover: var(--color-bg-brand-hover);
    --color-bg-active: var(--color-bg-brand-active);
    --color-border: transparent;
    --color-border-focus: var(--color-border-brand-focus);
  }
  
  input {
    background: 1px solid var(--color-bg);
    border: 1px solid var(--color-border);
    color: 1px solid var(--color-text);
    padding: 0.5rem;
  }
  
  input:focus-visible {
    border-color: var(--color-border-focus);
    outline-color: var(--color-border-focus);
  }
  
  svg {
    stroke: var(--color-icon, rgba(0, 0, 0, 0.9));
  }
  
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
  }
  section > * + * {
    margin-top: 0.5rem;
  }
  footer > * + * {
    margin-left: 0.5rem;
  }
  
  img {
    height: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }